menu "Telegram Configuration"

    config TELEGRAM_TOKEN
        string "Telegram API token"
        default "123456789:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
        help
            Telegram API token.

    config TELEGRAM_CHAT_ID_ACCESS_LIST
        string "Telegram allowed chat_id values"
        default "111111111,2222222222"
        help
            List allowed chat_id values. Character "," is used as the delimiter.

    config TELEGRAM_HTTP_PROXY_SERVER
        string "Telegram HTTP proxy server address"
        default "192.168.1.1:8888"
        help
            Telegram API token.

endmenu
